/* Estoy seleccionando la etiqueta BODY para aplicarle estilos */
body {
	background: #ccc url('img/que-es-esto.jpg') no-repeat bottom center;
	/* La propiedad background sirve para establecer un fondo */
	color: #515f6c;
	/* La propiedad color cambia el color del texto */
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	/* La propiedad font-family sirve para especificar el tipo de fuente a usar */
	margin: 0;
	/* La propiedad margin establece el margen de un elemento */
	text-shadow: 0 6px 1px #d5dde6;
	/* La propiedad text shadow sirve para aplicar sombras al texto. El primer valor es el desplazamiento hacia los lados, el segundo es el desplazamiento hacia arriba o abajo, el tercero es el difuminado y el cuarto es el color de la sombra */
}
/* Estoy seleccionando la etiqueta A */
a {
	color: inherit;
	/* El valor inherit me sirve para indicar que el valor debe ser heredado de su elemento padre */
	text-decoration: none;
	/* La propiedad text-decoration sirve para colocar o eliminar decoration de un link */
}
nav {
	background: #49545f;
	color: #dde3ea;
	font-size: 20px;
	/* La propiedad font-size sirve para darle tamaño al texto */
	line-height: 40px;
	/* Sirve para establecer el tamaño de las líneas de texto */
	text-align: center;
	/* La propiedad text-align sirve para alinear texto */
	text-shadow: 0 2px 2px #373d43;
}
	nav a {
		/* Estoy seleccionando todos los A dentro de NAV */
		margin: 15px 20px 0 10px;
		/*
		En propiedades shorthand de margen, padding y border lo valores funcionan así:
		* Un sólo valor aplica pára todo
		* Dos valores son arriba y abajo / izquierda y derecha
		* Tres valores son arriba / izquierda y derecha / abajo
		* Cuatro valores son arriba / derecha / abajo / izquierda
		*/
	}
aside {
	color: #000;
}
/* Los estilos aplicables a clases se colocan con un punto. Las clases distinguen grupos */
.programacion {
	background: #f00;
}
.diseno {
	background: #0f0;
	border: solid 5px #000;
	padding: 30px;
	text-align: center;
}
.masclickero {
	font: oblique bold 4em/80px times;
	/*
	En propiedades shorthand para fuentes el orden es el siguiente:
	* font-style (itálicas)
	* font-weight: (negritas)
	* font-size: (tamaño)
	* line-height: (alto de la línea)
	* font-family: (tipografía)
	La propiedad shorthand requiere mínimo tamaño y tipo
	*/
}
/* Los estilos aplicables a IDs se colocan con un #. Los IDs distinguen individuos */
#anita {
	font-size: 40px;
}
.paco {
	font-weight: bold;
}
