/*
ESTILOS BASE
*/
html {
	background: #ddd;
}
body {
	background: #eee;
	border: solid 1px #fff;
	border-radius: 0.4em;
	box-shadow: 0 0 0.5em rgba(0, 0, 0, .4),
				inset 0 3em 3em #fff;
	color: #333;
	font-family: 'deliciousroman';
	padding: 2em;
	margin: 2em auto;
	max-width: 1180px;
	text-shadow: 0 1px 0 rgba(250, 250, 250, .5);
}
em {
	font-family: 'deliciousitalic';
	font-style: normal;
}
strong {
	font-family: 'deliciousbold';
	font-weight: normal;
}
a {
	color: inherit;
	text-decoration: none;
}
header {
	overflow: hidden;
}
nav {
	float: right;
	font: 1.5em/1.5em 'deliciousbold';
}
	nav ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
		nav ul ul {
			display: none;
		}
	nav li {
		display: inline-block;
		padding: 3px;
	}
	nav a {
		background: #bbb;
		border: solid 1px #ababab;
		border-top-left-radius: .4em;
		border-bottom-right-radius: .4em;
		box-shadow: 0 0 3px rgba(0, 0, 0, .3),
					inset 0 15px 15px rgba(250, 250, 250, .7);
		display: block;
		padding: 0 1em;
	}
		nav a:hover {
			background: #00c8ff;
		}
/*
ESTILOS REUSABLES
*/

/*
ESTILOS ESTRUCTURALES
*/

/*
ESTILOS DE FUENTES
*/
@font-face {
	font-family: 'deliciousbold';
	src: url('../fonts/delicious-bold-webfont.eot');
	src: url('../fonts/delicious-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/delicious-bold-webfont.woff') format('woff'),
		 url('../fonts/delicious-bold-webfont.ttf') format('truetype'),
		 url('../fonts/delicious-bold-webfont.svg#deliciousbold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'deliciousbold_italic';
	src: url('../fonts/delicious-bolditalic-webfont.eot');
	src: url('../fonts/delicious-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/delicious-bolditalic-webfont.woff') format('woff'),
		 url('../fonts/delicious-bolditalic-webfont.ttf') format('truetype'),
		 url('../fonts/delicious-bolditalic-webfont.svg#deliciousbold_italic') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'delicious_heavyregular';
	src: url('../fonts/delicious-heavy-webfont.eot');
	src: url('../fonts/delicious-heavy-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/delicious-heavy-webfont.woff') format('woff'),
		 url('../fonts/delicious-heavy-webfont.ttf') format('truetype'),
		 url('../fonts/delicious-heavy-webfont.svg#delicious_heavyregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'deliciousitalic';
	src: url('../fonts/delicious-italic-webfont.eot');
	src: url('../fonts/delicious-italic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/delicious-italic-webfont.woff') format('woff'),
		 url('../fonts/delicious-italic-webfont.ttf') format('truetype'),
		 url('../fonts/delicious-italic-webfont.svg#deliciousitalic') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'deliciousroman';
	src: url('../fonts/delicious-roman-webfont.eot');
	src: url('../fonts/delicious-roman-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/delicious-roman-webfont.woff') format('woff'),
		 url('../fonts/delicious-roman-webfont.ttf') format('truetype'),
		 url('../fonts/delicious-roman-webfont.svg#deliciousroman') format('svg');
	font-weight: normal;
	font-style: normal;
}