html {
	background: #ddd;
}
body {
	background: #eee;
	border: solid 1px #fff;
	border-radius: 0.4em;
	box-shadow: 0 0 0.5em rgba(0, 0, 0, .4),
				inset 0 3em 3em #fff;
	padding: 2em;
	margin: 2em;
}
header {
	overflow: hidden;
}
nav {
	float: right;
}
	nav ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
		nav ul ul {
			display: none;
		}
	nav li {
		display: inline-block;
	}